@import "../../scss/colors";

.text-area {
    &__wrapper {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 0.556vw;
            font-size: 0.857rem;
            color: $color-secondary-gray;
        }

        textarea {
            min-height: 14.861vw;
            padding: 0.833vw 1.111vw;
            font-family: "Inter";
            font-size: 0.857rem;
            background-color: $color-lotion;
            border: none;
            resize: vertical;
        }
    }
}
