.blog-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.667vw;

    &__wrapper {
        padding: 1.667vw;
    }

    .blog-item {
        margin-right: 1.667vw;
    }

    :nth-child(2n) {
        margin-right: unset;
    }

    &__load-more {
        &.button__wrapper {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 7.917vw;
        }
    }
}
