@import "../../scss/colors";

.blog-list {
    &.small {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1.667vw;

        :nth-child(2n) {
            margin-right: unset;
        }
    }

    &.large {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 1.667vw;

        .blog-item {
            width: 18.125vw;

            &__image {
                width: 18.125vw;
                height: 5vw;
            }
        }
    }

    &__list-wrapper {
        &.small {
            padding: 1.667vw;
            height: 60vh;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 10px;
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px $color-secondary-gray;
                border-radius: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background: $color-secondary-light-gray;
                border-radius: 5px;
            }
        }
    }

    .blog-item {
        margin-right: 1.667vw;
    }

    &__load-more {
        &.button__wrapper {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: 1.667vw;
        }
    }

    &__pagination {
        margin-top: 1.667vw;
    }
}
