@import "./scss/colors";

.app {
  min-height: 100vh;
  background-color: $color-raisin-black;
  display: flex;
  flex-direction: column;

  &__container {
    padding: 4.444vw 11.25vw;
    background-color: $color-lotion;
  }

  &__header {
    display: flex;
    flex-direction: column;
    height: 20.253vh;
    padding: 2.222vw 11.25vw 0 11.25vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__logo {
    width: 16.667vw;
    height: auto;

    &-wrapper {
      display: flex;
      align-items: start;
      justify-content: space-between;
    }
  }

  &__title {
    display: flex;
    align-self: center;
    margin-top: 1.667vw;
    font-weight: 600;
    font-size: 3.429rem;
    color: $color-white;
  }

  @media (min-width: 800px) and (max-width: 1080px) {
    &__container {
      padding: 4.444vw;
    }
  }

  @media (min-width: 1080px) and (max-width: 1439px) {
    &__container {
      padding: 4.444vw 6.25vw;
    }
  }
}
