@import "../../scss/colors";

.home {
    &__wrapper {
        display: grid;
        grid-template-areas: "add items";
        grid-template-columns: 5fr 7fr;
        gap: 1.667vw;
    }

    &__add-section {
        grid-area: add;
        height: 59.5vh;
        padding: 1.667vw;
        background-color: $color-white;
    }

    &__items-section {
        grid-area: items;
        height: 64.175vh;
        background-color: $color-white;
    }

    &__blog-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .loading__wrapper {
            padding-top: 1.667vw;
        }
    }
    @media (max-height: 1027px) {
        &__add-section, &__items-section {
            height: 100%;
        }
    }
}
