@import "../../scss/colors";

.home {
    &__wrapper {
        display: grid;
        grid-template-areas: "add items";
        grid-template-columns: 5fr 7fr;
        gap: 1.667vw;
    }

    &__add-section {
        grid-area: add;
        height: fit-content;
        padding: 1.667vw;
        background-color: $color-white;
    }

    &__items-section {
        grid-area: items;
        min-height: 59vh;
        background-color: $color-white;
    }

    &__blog-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
}
